$sidebar-shadow : #0000000F;

$font-family : "YekanBakh";


$font-medium : 900;
$font-extrrabold : 800;
$font-bold : 700;
$font-semibold : 600;
$font-regular : 400;
$font-light : 300;

$font-10 : 0.625rem;
$font-11 : 0.688rem;
$font-12 : 0.75rem;
$font-13 : 0.813rem;
$font-14 : 0.875rem;
$font-15 : 0.938rem;
$font-16 : 1rem;
$font-18 : 1.125rem;
$font-20 : 1.25rem;
$font-24 : 1.5rem;
$font-28 : 1.75rem;
$font-32 : 2rem;
$font-36 : 2.25rem;
$font-40 : 2.5rem;
$font-42 : 2.625rem;
$font-46 : 2.875rem;
$font-64 : 4rem;

$text-dark-color: #242424;
$text-gray-color: #7D7D7F;
$nav-item-active-backgrond: #F5FAFF;
$primary: #007BFF;
$dark-gray-text: #525252; /* nav item text & active mode text & exit */
$mode-switch-box-background: #F7F7F7;
$active-mode-button-bg: #FFFFFF;
$switch-mode-text-gray: #808080;
$line-divider-gray: #E9E9E9;
$gray1: #696969;
$gray2: #AFAEB2;
$gray3: #727272;
$gray4: #646466;
$gray5: #323233;
$low-priority: #C3FFF1;
$mid-priority: #FFEFD6;
$high-priority: #FFE2DB;
$low-priority-text: #11A483;
$mid-priority-text: #FFAF37;
$high-priority-text: #FF5F37;
